<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRBANK</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="container flex flex-col items-center justify-center w-[600px] px-4">
        <img class="w-[500px]"
            src="https://img.freepik.com/free-vector/tiny-people-depositing-taking-money-from-government-bank-flat-illustration_74855-17121.jpg?w=996&t=st=1706475148~exp=1706475748~hmac=76f9f9caf2b62754827902848b0203309d2db1077d1f1a20b2fdfa2dd062bafc"
            alt="">
        <div id="context" class="flex flex-col gap-2">
            <h1 class="">Dear [Customer's Name],</h1>
            <p>Congratulations! We are pleased to inform you that your email address has been successfully verified, and your DRBANK Online Banking account is now fully activated. You can now enjoy the convenience of managing your finances securely online.</p>
            <p>Your successful signup is a significant step towards a seamless and secure banking experience. With DRBANK Online Banking, you gain access to a range of powerful tools and features designed to make your financial journey more convenient and efficient.</p>

            <div id="key-feature">
                <h2>Here are a few things you can do with your verified account:</h2>
                <ul>
                    <li><strong>View Account Balances:</strong> Keep track of your account balances in real-time.</li>
                    <li><strong>Transfer Funds:</strong> Easily move money between your accounts to other accounts within DRBANK. accoutns holders </li>
                    <li><strong>Transaction History:</strong> Access your transaction history to review and reconcile your accounts.</li>
                    <li><strong>Alerts and Notifications:</strong> Stay informed with real-time alerts for account activity and important updates.</li>
                </ul>
            </div>
            <p>To get started, simply log in to your DRBANK Online Banking account using the credentials you provided during the signup process.</p>

            <ul>
                <h2>Heres you account details</h2>
                <li>user-email</li>
                <li>user-account-num</li>
                <li>user-account-initial-bal</li>
            </ul>
        </div>
    </div>
</body>

</html>