<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
</head>

<body>
    <script src="https://cdn.tailwindcss.com"></script>
    <div class="container flex flex-col items-center justify-center w-[600px] px-4"> <img class="w-[500px]"
            src="https://img.freepik.com/free-vector/tiny-people-depositing-taking-money-from-government-bank-flat-illustration_74855-17121.jpg?w=996&t=st=1706475148~exp=1706475748~hmac=76f9f9caf2b62754827902848b0203309d2db1077d1f1a20b2fdfa2dd062bafc"
            alt="">
        <div id="context" class="flex flex-col gap-2">
            <h1 class="">Dear [Customer's Name],</h1>
            <p>Thank you for choosing DRBANK Online Banking! We're excited to have you on board. To ensure the security of your account, we need to verify your email address.</p>
             <strong>Please follow the link below to complete the verification process:</strong>
        
            <a href="verify-link">Verification Link</a>
            <p>If you are unable to click on the link, please copy and paste it into your browser's address bar.</p>
            <p>Once your email address is verified, you'll gain full access to all the features and benefits of DRBANK Online Banking.</p>
            <p>Thank you for choosing DRBANK for your banking needs. We look forward to providing you with a secure and convenient online banking experience.</p>
        </div>
    </div>
</body>

</html>